////////////////////////////////
/*        colFLEX            */
//////////////////////////////

$colflex-max-columns:       5 !default;
$colflex-gutter-default:    (15px, 10px, 5px) !default;
$colflex-gutter-sizes:      (0, 1px, 2px, 3px, 5px, 10px, 15px) !default;
$colflex-gutter-set-bottom: true !default;

$colflex-breakpoints:       ("desktop", "tablet", "mobile") !default;

$colflex-responsive-columns:          true !default;
$colflex-responsive-gutters:          true !default;
$colflex-responsive-reverse:          true !default;
$colflex-responsive-justify-content:  true !default;
$colflex-responsive-align-items:      true !default;
$colflex-responsive-grow:             true !default;
$colflex-responsive-wrap:             true !default;

// path from column div to content div on a page
@mixin page_layout($class:""){
  .sppb-column.colflex#{$class} {
    > .sppb-column-addons {
      @content
    }
  }
}

// path from column div to content div in the frontend editor
@mixin editor_layout($class:""){
  .sp-pagebuilder-column.colflex#{$class} {
    > .sppb-column-addons > div.sp-pagebuilder-addons > div,
    > div.sp-pagebuilder-addons {
      @content
    }
  }
}

// mixin of both layouts
@mixin all-layouts($class:""){
  .sp-pagebuilder-column.colflex#{$class} > .sppb-column-addons > div.sp-pagebuilder-addons > div,
  .sp-pagebuilder-column.colflex#{$class} > div.sp-pagebuilder-addons,
  .sppb-column.colflex#{$class} > .sppb-column-addons {
    @content
  }
}

//set flexbox container
@include all-layouts(){
  display: flex;
  width: auto;
  min-width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  > * {
    width: 100%
  }
}

$colflex-all-breakpoints: (
  // default controllable breakpoints in sppagebuilder
  "mobile": ("min": null, "max":767.98px),
  "tablet": ("min": 768px, "max":991.98px),
  "desktop": ("min": 992px, "max": null),

  // All actual bootstrap4 breakpoints in sppagebuilder
  "xs": ("min": null, "max": 575.98px),
  "sm": ("min": 576px, "max": 767.98px),
  "md": ("min": 768px, "max": 991.98px),
  "lg": ("min": 992px, "max": 1199.98),
  "xl": ("min": 1200px, max: null)
);

// set all selected breakpoints
$colflex-bp: ();
@each $bp in $colflex-breakpoints {
  $colflex-bp: map-merge($colflex-bp, ($bp: map-get($colflex-all-breakpoints, $bp)))
}

// wrap code in a breakpoint
@mixin col-breakpoint($bp){
  $bp: map-get($colflex-bp, $bp);

  @if map-get($bp, "min") == null {
    @media (max-width: map-get($bp, "max")) {
      @content
    }
  }
  @else if map-get($bp, "max") == null {
    @media (min-width: map-get($bp,"min")) {
      @content
    }
  }
  @else {
    @media (min-width: map-get($bp, "min")) and (max-width: map-get($bp, "max")) {
      @content
    }
  }
}

// loop though all active breakpoints
@mixin col-breakpoints-all($class, $value:"", $to:"all"){
  @each $break in map_keys($colflex-bp){
    $klass: "#{$class}-#{$break}-#{$value}";
    @if $value == "" {
      $klass: "#{$class}-#{$break}";
    }
    @if $to == "editor" {
      @include col-breakpoint($break) {
        @include editor_layout($klass) {
          @content
        }
      }
    } @else if $to == "page" {
      @include col-breakpoint($break) {
        @include page_layout($klass){
          @content
        }
      }
    } @else {
      @include col-breakpoint($break) {
        @include all-layouts($klass){
          @content
        }
      }
    }
  }
}


// COLUMNS
@mixin flex-cols($col-count: 1){
  > * {
    width: 100% / $col-count;
  }
}

@for $i from 1 through $colflex-max-columns {
  @include all-layouts(".colflex.cols-#{$i}"){
    @include flex-cols($i)
  }
}
// Responsive columns
@if $colflex-responsive-columns {
  @for $i from 1 through $colflex-max-columns {
    @include col-breakpoints-all(".colflex.cols", $i){
      @include flex-cols($i)
    }
  }
}


// GUTTER
@mixin flex-gutter($width){
  margin-left: -$width;
  margin-right: -$width;
  > .sppb-addon-wrapper, > .sp-pagebuilder-addon{
    @if $colflex-gutter-set-bottom {
      padding: 0 $width 0;
      margin-bottom: $width *2;
    } @else {
      padding-left: $width;
      padding-right: $width;
    }
  }
}

// set Default
@include all-layouts(".gutter"){
  @include flex-gutter(nth($colflex-gutter-default, 1));
  @if map-has-key($colflex-bp, "tablet") {
    @include col-breakpoint("tablet") {
      @include flex-gutter(nth($colflex-gutter-default, 2))
    }
  }
  @if map-has-key($colflex-bp, "mobile") {
    @include col-breakpoint("mobile") {
      @include flex-gutter(nth($colflex-gutter-default, 3))
    }
  }
}

// Gutter sizes
@each $i in $colflex-gutter-sizes{
  $gut-class: ".gutter-#{$i}";
  @include all-layouts(#{$gut-class}) {
    @include flex-gutter($i);
  }
}

//responsive gutter
@if( $colflex-responsive-gutters){
  @each $size in $colflex-gutter-sizes{
    @include col-breakpoints-all(".gutter", $size){
      margin-left: -$size;
      margin-right: -$size;
      > .sppb-addon-wrapper, > .sp-pagebuilder-addon{
        @if $colflex-gutter-set-bottom {
          padding: 0 $size 0;
          margin-bottom: $size *2;
        } @else {
          padding-left: $size;
          padding-right: $size;
        }
      }
    }
  }
}


// REVERSE
@include all-layouts(".reverse"){
  flex-direction: row-reverse;
}

// responsive reverse
@if $colflex-responsive-reverse {
  @include col-breakpoints-all(".reverse") {
    flex-direction: row-reverse;
  }
}


// JUSTIFY CONTENT
@each $name, $val in ("start": flex-start, "end":flex-end, "center":center, "between": space-between,
        "around":space-around, "evenly":space-evenly) {
  @include all-layouts(".justify-#{$name}"){
    justify-content: #{$val};
  }

  // responsive justify content
  @if $colflex-responsive-justify-content{
    @include col-breakpoints-all(".justify", $name){
      justify-content: #{$val};
    }
  }
}


// ALIGN ITEMS
@each $name, $val in ("top":"flex-start", "bottom": "flex-end", "center": "center") {
  @include all-layouts(".sppb-align-items-#{$name}"){ // column default vertical align
    align-items: #{$val};
  }
  @include all-layouts(".align-items-#{$name}"){
    align-items: #{$val};
  }

  // responsive align items
  @include col-breakpoints-all(".align-items", $val){
    align-items: #{$val};
  }
}


// GROW
@mixin flex-grow($num){
  > * {
    flex-grow: #{$num};
  }
}

//default
@include all-layouts(".grow") {
  @include flex-grow(1)
}

//responsive grow
@if $colflex-responsive-grow {
  @include col-breakpoints-all(".grow"){
    @include flex-grow(1)
  }
}


// WRAP
@each $name in (nowrap, wrap-reverse){
  @include all-layouts(".#{$name}") {
    flex-wrap: $name;
  }

  @include col-breakpoints-all(".#{$name}"){
    flex-wrap: $name;
  }
}


// frontend editor fixes
.colflex{
  > .sppb-column-addons {
    position: relative;

    > div.sp-pagebuilder-addons {
      width: auto;
      min-width: 100%;
      height: auto;
      min-height: 100%;

      // set width for empty section
      .sp-pagebuilder-no-addons {
        min-width: 200px;
        width: 100%;
      }
    }
  }

  // fix blue addon border
  .sp-pagebuilder-addon:hover{
    &::before, &::after,
    & > .sp-pagebuilder-addon-inner-wrap-bordered::before {
      content: none !important;
      display: none !important;
    }
    & > .sp-pagebuilder-addon-inner-wrap-bordered::after{
      border: 2px solid #0080fe !important;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
    }
  }

  // fix section border
  .sp-pagebuilder-section-parent:hover {
    &::before, &::after,
    & > .sp-pagebuilder-section-inner-wrap::before{
      content: none !important;
    }

    & > .sp-pagebuilder-section-inner-wrap::after{
      border: 2px solid #03e16d !important;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
    }
  }

  //flex column border
  > .sp-pagebuilder-addons,
  > .sppb-column-addons > div.sp-pagebuilder-addons {

    &:hover::after {
      content: " ";
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      border: #9c1b9a dashed 2px;
      animation: fadeIn .3s;
      pointer-events: none;
    }

    &:hover::before {
      content: "FLEX";
      position: absolute;
      top: -2px;
      right: -2px;
      color: #fff;
      background-color: #9c1b9a;
      border: #9c1b9a solid 2px;
      border-radius: 0 0 5px 5px;
      padding: 1px 3px;
      animation: fadeIn .3s;
      pointer-events: none;
      font-size: 14px;
      font-weight: lighter;
      z-index: 1000;
    }
  }
}
